body {
    padding:0px;
    margin:0px;
    background:url("https://i.imgur.com/EG8cZGC.png") center center;
    background-size:cover;
    width:100vw;
    height:100vh;
    overflow:hidden;
    font-family:sans-serif;
}

#middle {
    width:100vw;
    height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    position:fixed;
    top:0;
    text-align:center;
    z-index:1;
    color:#fff;
    padding-bottom:10vh;
}

#middle h1 {
    color:rgb(#fff);
    font-size:80px;
}

h4 {
    width:100vw;
    height:90vh;
    position:fixed;
    top:0;
    text-align:center;
    color:#fff;
    font-size:5px;
}


.social {
    color:#fff;
    font-size:22px;
    border-radius:50%;
    transition:0.4s ease-in-out;
    margin:0px 8px;
    text-align:center;
}

#footer {
    color:#fff;
    width:92vw;
    padding:5vh 4vw;
    text-align:right;
    position:fixed;
    z-index:1;
    bottom:0;
    font-size:22px;
    font-weight:bold;
}
